

<h4>Name: <%= @user.name %></h4>
<br>
<h4>Email: <%= @user.email %></h4>
<br>
<h4>Profile Image: <img src="<%= @user.image_url %>"></h4>
<br>
<h4>Savings Goals: $ <%= @user.savings_goal %></h4>

<a href="/logout">Log Out</a>
