<h1> Create a new Coupon!</h1>
<form class="" action="/coupons" method="post">
    <label for="">Brand:</label>
    <input type="text" name="brand" value=""><br>
    <label for="">Amount: $</label>
    <input type="text" name="amount" value=""><br>
    <label for="">Expiration:</label>
    <input type="text" name="expiration" value="">(YYYYMMDD format)<br>
    <label for=""> Coupon Description:</label>
    <input type="text" name="description" value=""><br>
    <input type="submit" value="Create a New Coupon!" >
</form>

